doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sistema Bancário
    link(rel="stylesheet", href="styles.css")
  body
    h1 Acesse o Serviço desejado:
    button(type="button", id="depositoBtn" onclick="window.location.href='/realizar-deposito'") Depósito
    button(type="button", id="saqueBtn" onclick="window.location.href='/realizar-saque'") Saque
    button(type="button", id="transferirBtn" onclick="window.location.href='/realizar-transferencia'") Transferir

// botao de sair para deslogar o usuario e redirecionar para a tela de login
button(type="button", id="sairBtn" onclick="window.location.href='/'") Sair
