doctype html
html
  head
    meta(charset='UTF-8')
    title Banco WYK
    link(rel='stylesheet', href='/styles.css')
    script.
      function redirectToLogin() {
        window.location.href = "/login"; // Redireciona para a tela de login
      }
      function redirectToCadastro() {
        window.location.href = "/cadastro"; // Redireciona para a tela de cadastro
      }
  body
    h1#titulo Bem Vindo ao Banco WYK
    div#botoes
      button#btnLogin(onclick='redirectToLogin()') Login
      button#btnCadastro(onclick='redirectToCadastro()') Cadastro
